<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MangaApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".function.UpdatePassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ThongTinLienHe"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".display.BXHThang"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".display.BXH"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".display.Favorite"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".display.LichSu"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".function.GetAllTheLoai"
            android:exported="false" />
        <activity
            android:name=".function.SearchTruyen"
            android:exported="false" />
        <activity
            android:name=".display.ThongTinTaiKhoan"
            android:exported="false" />
        <activity
            android:name=".function.SignUp"
            android:exported="false" />
        <activity
            android:name=".function.SignIn"
            android:exported="false" />
        <activity
            android:name=".function.GetChapter"
            android:exported="false" />
        <activity
            android:name=".function.GetTruyen"
            android:exported="false" />
        <activity
            android:name=".mainscreen.MainScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>